@model IEnumerable<HumanResources.Web.Models.Designation>

@{
    ViewData["Title"] = "Designations";
}

<h1>All Designations List</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-square"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square text-warning"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill text-danger"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-ticket-detailed"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
