@model List<Employee>
@{
    ViewData["Title"] = "All Employees";
}

<h1 class="text-center pb-3">Employee Details in Table Format</h1>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Join Date</th>
            <th scope="col">Designation</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.FullName</td>
                <td>@emp.Sex</td>
                <td>@emp.JoinDate.ToString("MMMM dd, yyyy")</td>
                <td>@emp.Designation</td>
                <td>@emp.Department</td>
            </tr>
        }
    </tbody>
</table>
