@model List<Employee>
@{
    ViewData["Title"] = "Employees";
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Dob</th>
            <th>Join Date</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Address</td>
                <td>@employee.Gender</td>
                <td>@employee.Dob?.ToString("MMMM dd, yyyy")</td>
                <td>@employee.JoinDate.ToString("MMMM dd, yyyy")</td>
                <td>@employee.Department</td>
                <td>@employee.Designation</td>
                <td><a href="/employee/edit/@employee.Id"><i class="bi bi-pencil-square text-warning"></i></a>
                    <a href="/employee/delete/@employee.Id"><i class="bi bi-trash-fill text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

